input{
  padding: 10px 20px;
  box-shadow:var(--shadow);
  outline: none;
  border: none;
  border-radius: 10px;
  font-size: 15px;
}
.inputrow{
  gap: 10px;
}

.input_otp{
  align-items: center;
  height: 50px;
  width: 50px;
  padding: 10px 10px;
  box-shadow:var(--shadow);
  outline: none;
  border: none;
  border-radius: 10px;
  font-size: 15px;
}

button{
  padding: 10px 20px;
  box-shadow:var(--shadow);
  outline: none;
  border: none;
  border-radius: 10px;
  font-size: 15px;
  background: var(--deep_purple_A200);
  color: #fff;
  cursor: pointer;
}
.create_account{
  display: flex;
  flex-direction: row;
  font-size: 15px;
}
.optimizedLoginBox{
  width: 25%;
  height: 60%;
}
