.settings{
    /* position: absolute;
    left: 0;
    bottom: 0; */
    margin: 20px 30px;
    width:  100%;
    height: 60%;
    padding: 0px 0px !important;
    z-index: 2;
}
.settings_back{
    width: 100%;
    background-color: #745ffb !important;
}
.settings_content{
padding: 0px 20px !important;
}
.profile_box{
    padding: 10px 15px !important;
}