.reccomendation_box{
    overflow-y: auto;
    flex: 5;
    padding-top: 5px !important;
}
.search_box{
    overflow-y: auto;
    flex: 7;
}
.searchBoxContnt{
    overflow-y: auto;
    
}
.reccomendationBoxContnt{
    overflow-y: auto;
    
}
.minheight{
    min-height: 70px;
}
.textlength_head{
    inline-size: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.textlength_para{
    inline-size: 250px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.chat_info_1{
    flex: 2;
}
.chat_info_2{
    flex: 2;
}
.chat_info_3{
    flex: 2;
}