.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-header {
    cursor: pointer;
    padding: 8px 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .dropdown-options {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    background-color: #fff;
    border: 1px solid #ccc;
    border-top: none;
    border-radius: 0 0 4px 4px;
  }
  
  .dropdown-option {
    padding: 8px 16px;
    cursor: pointer;
  }
  
  .arrow {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    border: solid black;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
  }
  
  .arrow.open {
    transform: translateY(-50%) rotate(-135deg);
  }
  