@font-face {
  font-display: swap;
  font-style: normal;
  src: url("assets/fonts/InterBold.ttf");
  font-family: "Inter";
  font-weight: 700;
}

@font-face {
  font-display: swap;
  font-style: normal;
  src: url("assets/fonts/InterRegular.ttf");
  font-family: "Inter";
  font-weight: 400;
}

@font-face {
  font-display: swap;
  font-style: normal;
  src: url("assets/fonts/InterSemiBold.ttf");
  font-family: "Inter";
  font-weight: 600;
}

:root {
  --gray_500: #979697;
  --blue_gray_50: #eaedf2;
  --black_900: #000000;
  --pink_A400: #ff0150;
  --white_A700_01: #fffcfc;
  --deep_purple_A200: #5e4ae3;
  --black_900_0c: #0000000c;
  --white_A700: #ffffff;
  --gray_100: #f2f2f2;
  --shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  --text: #979697;
  --bgclr: #EAEDF2;
  --navclr: #5E4AE3;
}

* {
  box-sizing: border-box;
  line-height: normal;
}

body {
  font-family: "Roboto", sans-serif !important;
  margin: 0;
  padding: 0;
}


.container {
  width: 100vw;
  height: 100vh;
}

.center { 
  display: flex;
  justify-content: center;
  align-items: center;
}

.bg {
  background-image: url('../../public/images/profilebg1.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.box {
  border-radius: 20px;
  background: #fff;
  padding: 40px 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  box-shadow: var(--shadow);
}

.horiz {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.line {
  border-left: 70px dashed var(--text);
}

.bold {
  font-weight: 600;
}

.light {
  color: #9b9b9b;
  font-size: 15px;
}

.pointer {
  cursor: pointer;
}

.flexrow {
  flex-direction: row !important;
}

.flexcolumn {
  flex-direction: column !important;
}

.gap10 {
  gap: 10px !important;
}
.gap20 {
  gap: 20px !important;
}

.nobordershadow {
  border: none !important;
  box-shadow: none !important;
}

.spacebetween {
  justify-content: space-between;
}
.stretch {
  justify-content: stretch !important;
}

.nopadding {
  padding: 0px 0px !important;
}

.icon_small {
  padding: 15px 0 !important;
}

.widthmax {
  width: 100%;
}

.icon {
  padding: 10px;
  border-radius: 10px;
  box-shadow: var(--shadow);
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.alignself_center {
  align-self: center;
}

.blur {
  filter: blur(4px);
}

.circle {
  border-radius: 50%;
}

.transparent {
  background: transparent !important;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.alert {
  width: 40%;
  height: 100%;
  background: #fff;
  border-radius: 20px 20px 20px 20px;
  gap: 10px;
  padding: 30px 30px;
}

.alert_content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.back_btn {
  width: 100%;
  height: 10%;
  background: transparent;
}

.viewerror {
  min-height: 10px;
  max-height: 10px;
  font-size: small;
  color: red;
  display: flex;
  align-items: center;
}
.text_btn{
cursor: pointer;
color: #000000;
font-weight: 700;
}
.text_btn:hover{
color: #5E4AE3;
}
.joinbtn{
  padding: 15px !important;
  height:auto;
  justify-content: center;
}
.joinbtn:hover{
  background-color: var(--navclr);
  color: var(--white_A700_01);
}
.alignAll{
  all: initial;
}
.nogap{
  gap: 0 !important;
}
.flex{
  display: flex;
}
.white{
  color: #fff !important;
}
.padding5{
  padding: 5px 5px !important;
}
.padding20{
  padding: 20px 20px !important;
}
.alignself_cntr{
  align-self: center;
}