.more_items{
    
    border-radius: 5px !important;
    background-color: transparent !important;
    box-shadow: none !important;
    display: flex !important;
    width: 100%;
  
}
.more_items:hover{
    background-color: #5E4AE3 !important;
    color: #fff;
    
}
.neration{
    width: 100%;
    height: 35px;
    display:flex ;
    gap: 20px;
    align-items: center;
}

  .swipe-container {
    position: relative;
  }
  
  .swipe-content {
    overflow: hidden;
    transition: transform 0.3s ease; /* Add transition for smooth animation */
  }

  
  .swipe-actions button {
    background-color: #f44336; /* Red color for delete button */
    color: white;
    border: none;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
  }

  .swipe-actions {
    position: absolute;
    top: 0;
    right: -20%; /* Adjusted right position to -20% */
    width: 20%; /* Adjusted width to 20% */
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease; /* Add transition for smooth animation */
    transform: translateX(100%);
  }
  
  .swipe-container:hover .swipe-actions {
    transform: translateX(-100%); /* Move swipe actions to the left */
  }
  .friends{
    flex: 3;
    padding: 20px 20px !important;
    overflow-y: auto;
  }
  .friendslist{
    overflow-y: auto;
  }
  .chathistory{
    overflow-x: hidden;
    flex: 7;
    overflow-y: auto;
  }
  .incomingchat{
    color: #fff;
    background-color: #5E4AE3;
    width: 20px;
    height: 20px;
  }
  .friendstext{
    display: flex;
    padding: 0 10px !important;
  }
  .textlength_head_friends{
    inline-size: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.textlength_status{
    inline-size: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.message_options{
display: flex;
flex-direction: column;
padding: 10px 10px;
background:transparent ;
z-index: 5000;
backdrop-filter: blur(10px);
box-shadow: var(--shadow);

}
.message_items{
width: 140px;
}
/* .msg_main-rightside {
  display: flex;
  flex-direction: row;
  align-items: end;
}

.msg-rightside {
  align-self: flex-end;
}

.option-rightside {
  margin-left: auto;
  right: 0;
  position: relative;
} */



.option-rightside {
  position: relative;
}
